<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.WEB.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activityServlet</servlet-name>
        <servlet-class>com.WEB.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coralServlet</servlet-name>
        <servlet-class>com.WEB.CoralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsServlet</servlet-name>
        <servlet-class>com.WEB.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>researchersServlet</servlet-name>
        <servlet-class>com.WEB.ResearchersServlet</servlet-class>
    </servlet>-->
    <!--    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>activityServlet</servlet-name>
        <url-pattern>/activityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coralServlet</servlet-name>
        <url-pattern>/coralServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsServlet</servlet-name>
        <url-pattern>/newsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>researchersServlet</servlet-name>
        <url-pattern>/researchers</url-pattern>
    </servlet-mapping>-->

    <!--Servlet Class-->
    <servlet>
        <servlet-name>BiodiversityServlet</servlet-name>
        <servlet-class>com.WEB.BiodiversityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>com.WEB.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.WEB.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchersServlet</servlet-name>
        <servlet-class>com.WEB.ResearchersServlet</servlet-class>
    </servlet>
    
    <!--Servlet Mapping-->
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/biodiversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/activity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResearchersServlet</servlet-name>
        <url-pattern>/researchers</url-pattern>
    </servlet-mapping>

    <!--Configure link between JSP and all media-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.JPG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
