<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--Servlet Class-->
    <servlet>
        <servlet-name>BiodiversityServlet</servlet-name>
        <servlet-class>com.WEB.BiodiversityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>com.WEB.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParticipantServlet</servlet-name>
        <servlet-class>com.WEB.ParticipantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.WEB.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchersServlet</servlet-name>
        <servlet-class>com.WEB.ResearchersServlet</servlet-class>
    </servlet>
    
    <!--Servlet Mapping-->
    <!--Biodiversity Module-->
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/listBiodiversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/newbiodiversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/insertbiodiversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/deletebiodiversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/editbiodiversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiodiversityServlet</servlet-name>
        <url-pattern>/updatebiodiversity</url-pattern>
    </servlet-mapping>
    
    <!--Activity Module-->
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/listActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/newactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/insertactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/deleteactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/editactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/viewactivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/updateactivity</url-pattern>
    </servlet-mapping>
    
    <!--Participant Module-->
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/listParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/listParticipantByActivityID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/newParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/insertParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/deleteParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/editParticipant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantServlet</servlet-name>
        <url-pattern>/updateParticipant</url-pattern>
    </servlet-mapping>
    
    <!--User Module-->
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/insertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <!--Researchers Module-->
    <servlet-mapping>
        <servlet-name>ResearchersServlet</servlet-name>
        <url-pattern>/listresearchers</url-pattern>
    </servlet-mapping>
    <!--Configure link between JSP and all media-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.JPG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
