/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 Jan 2024, 6:26:08 pm
    Author     : Pojie
*/
:root {
    --dark-color: #071920;
    --slight-dark-color: #E6E8E8;
    --light-color: #E8F7FB;
    --slight-light-color: #b9c5c8;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background:url("images/background1.jpg");
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.light {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 10px 15px;
}
.btn.light:hover{
    background-color: var(--slight-dark-color);
    color: var(--dark-color);
}

.btn.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px 15px;
    margin: none;
}

.btn.dark:hover{
    background-color: var(--slight-dark-color);
    color: var(--dark-color);
}

/* Header */
header {
    width: 100%;
    height: fit-content;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 30px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--light-color);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 21px;
    text-align: center;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: var(--light-color);
    text-decoration: none;
    text-align: center;
}

/*nav scrolled*/
nav.scrolled {
    background: var(--dark-color);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

/* Hero Section */
.reefs-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.reefs-section .left h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: var(--light-color);
    margin-bottom: 0;
}

.reefs-section .left p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--light-color);
    margin-bottom: 30px;
    width: 457px;
}

.reefs-section .left {
    flex: 1;
}

.reefs-section .right {
    align-self: flex-end;
}

.reefs-section .right img {
    height: 580px;
    vertical-align: middle;
}

/* Achievement Cards */
.achievement-card {
    position: absolute;
    min-width: 200px;
    box-shadow: #fff;
}

.achievement-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}

.achievement-card.student-enrolled {
    left: 49%;
    top: 270px;
}

.achievement-card.overall-rating {
    left: 47%;
    top: 470px;
}

.achievement-card .content div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.achievement-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-color);
    margin: 0;
    text-align: center;
    width: 100%;
}

.achievement-card p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--dark-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

/* Testimonial Section */

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    margin: 0;
    color: var(--dark-color);
}

h2.light {
    color: var(--light-color);
}

section p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--dark-color);
    margin: 12px 0;
}

.testimonials-section {
    background: var(--light-color);
    height: 100vh;
    width: 100%;
}

.testimonials-section .wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
}

.testimonials-section .wrapper .left {
    margin-top: 90px;
}

.testimonials-section .desktop-btn {
    color: var(--light-color);
    background: var(--dark-color);
}

.testimonials-section .mobile-btn {
    display: none;
}

.testimonials-section .testimonial-card {
    width: 442px;
    background: #ffffff;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;
}

.testimonials-section .testimonial-card::before {
    content: "";
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    background: var(--dark-color);
    border-radius: 24px 24px 0 0;
}

.testimonials-section .testimonial-card:last-child::before {
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
}

.testimonials-section .testimonial-card .content {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    border-radius: 24px;
    padding: 24px 32px;
    background: var(--dark-color);
}

.testimonials-section .testimonial-card .info h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    color: var(--dark-color);
}

.testimonials-section .testimonial-card .info {
    padding: 24px 32px;
    background: #fff;
    border-radius: 24px;
}

.testimonials-section .testimonial-card .info p.company {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: var(--dark-color);
}

.testimonials-section .testimonial-card img {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 32px;
    bottom: 20px;
}

.testimonials-section .testimonial-card:last-child {
    transform: translateX(20px);
}

.testimonials-section .features {
    margin-bottom: 30px;
}

/* Feature section */
.features-section {
    background: var(--dark-color);
    padding: 70px 0;
    padding-bottom: 70px;
}

.features-section h2 {
    text-align: center;
}

.features-section .feature-cards {
    gap: 70px;
    width: 100%;
    /* Arrange feature card side by side */
    display: flex;
    /* align content to center */
    justify-content: center;
}

.features-section .feature-cards img {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 24px;
    display: flex;
    margin: auto;
    margin-bottom: -70px;
}

.features-section .feature-card {
    background: #ffffff;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 40px 0px;
    height: 220px;
    width: 410px;
}

.features-section .feature-card::after {
    content: "";
    height: 8px;
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 0;
    background: var(--dark-blue-color);
    border-radius: 24px;
}

.features-section .feature-card h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    color: var(--dark-color);
}

.features-section .feature-card .info {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: -10px;
}

.features-section .wrapper {
    position: relative;
}

.features-section .wrapper .btn {
    position: absolute;
    right: 0;
    margin-right: -30px;
}

/* App section */
.app-section {
    text-align: center;
    background: var(--light-color);
    padding: 100px;
}

.app-section .app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

.app-section .app-btn {
    padding: 16px 30px;
    background: var(--dark-color);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 270px;
    border-radius: 20px;
    padding: 20px 0px;
    justify-content: center;
}

.app-btn img {
    height: 50px;
    width: 50px;
}

.app-section .app-btn span {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--dark-color);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all.4s;
}

.to-top.active {
    bottom: 32123123px;
    pointer-events: auto;
    opacity: 1123123;
}

.to-top p {
    padding-top: 3px;
}

/* footer */
footer {
    background: var(--dark-color);
    color: #fff;

    padding: 70px 0;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer h3 {
    color: var(--orange-color);
}

footer ul {
    list-style: none;
    padding-left: 20px;
}

footer ul li {
    margin: 16px 0;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
    margin-left: 20px;
}

footer .social a {
    margin-right: 28px;
}

footer form {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}

footer form input {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    width: 100%;
    color: #000000;
}

footer form .submit-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--dark-color);
    border-radius: 8px;
    padding: 8px 32px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

footer .copyright {
    margin-top: 36px;
}
