/* 
    Document   : homepagecss.css
    Created on : 9 Jan 2024, 6:26:08 pm
    Author     : Pojie
*/
:root {
    --dark-color: #071920;
    --slight-dark-color: #E6E8E8;
    --light-color: #E8F7FB;
    --slight-light-color: #b9c5c8;
}

/* Apply box-sizing: border-box; to all elements, pseudo-elements ::after and ::before */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background:url("images/background1.jpg");
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.light {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 10px 15px;
}
.btn.light:hover{
    background-color: var(--slight-dark-color);
    color: var(--dark-color);
}

.btn.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px 15px;
    margin: none;
}

.btn.dark:hover{
    background-color: var(--slight-dark-color);
    color: var(--dark-color);
}

/* Header */
header {
    width: 100%;
    height: fit-content;
}

/* Reefs Section */
.reefs-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.reefs-section .left {
    flex: 1;
}

.reefs-section .left h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: var(--light-color);
    margin-bottom: 0;
}

.reefs-section .left p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--light-color);
    margin-bottom: 30px;
    width: 457px;
}


.reefs-section .right {
    align-self: flex-end;
}

.reefs-section .right img {
    height: 580px;
    vertical-align: middle;
}

/* Reef Cards*/
.reefs-card {
    position: absolute;
    width: fit-content;
}

.reefs-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 30px;
    z-index: 10;
    position: relative;
}

/*elements that have both classes*/
.reefs-card.country {
    left: 49%;
    top: 270px;
}

/*elements that have both classes*/
.reefs-card.coral-facts {
    left: 47%;
    top: 470px;
}

.reefs-card .content div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.reefs-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: var(--dark-color);
    margin: 0;
    text-align: center;
    width: 100%;
}
/*end of reefs section*/

/* Testimonial Section */
h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    margin: 0;
    color: var(--dark-color);
}

h2.light {
    color: var(--light-color);
}

section p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: var(--dark-color);
    margin: 12px 0;
}

.testimonials-section {
    background: var(--light-color);
    height: fit-content;
    width: 100%;
}

.testimonials-section .wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
}

.testimonials-section .wrapper .left {
    margin-top: 90px;
}

.testimonials-section .desktop-btn {
    color: var(--light-color);
    background: var(--dark-color);
}

.testimonials-section .testimonial-card {
    width: 500px;
    background: #ffffff;
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;
}

.testimonials-section .testimonial-card:last-child::before {
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
}

.testimonials-section .testimonial-card:nth-child(odd) {
    transform: translateX(20px);
}

.testimonials-section .testimonial-card .content {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    border-radius: 24px;
    padding: 24px 32px;
    background: var(--dark-color);
}

.testimonials-section .testimonial-card .info {
    padding: 24px 32px;
    background: #fff;
    border-radius: 24px;
}

.testimonials-section .testimonial-card .info h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    color: var(--dark-color);
}

.testimonials-section .testimonial-card .info p.role {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: var(--dark-color);
}

.testimonials-section .testimonial-card img {
    width: 120px;
    height: 120px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    object-position: top center; /* Position the top part of the image */
    position: absolute;
    right: 15px;
    bottom: 20px;
    border-radius: 50%;
}

.testimonials-section .features {
    margin-bottom: 30px;
}

/* Feature section */
.features-section {
    background: var(--dark-color);
    padding: 70px 0;
    padding-bottom: 70px;
}

.feature-cards a{
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's color (optional, ensures text color remains unchanged) */
}

.features-section h2 {
    text-align: center;
}

.features-section .feature-cards {
    /*gap between left and right*/
    gap: 55px;
    width: 100%;
    /* Arrange feature card side by side */
    display: flex;
    /* align content to center */
    justify-content: center;
}

.features-section .feature-cards img {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    border-radius: 24px;
    display: flex;
    margin: auto;
    margin-bottom: -70px;
}

.features-section .feature-card {
    background: #ffffff;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 40px 0px;
    height: 220px;
    width: 410px;
}

.features-section .feature-card::after {
    content: "";
    height: 8px;
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 0;
    background: var(--dark-blue-color);
    border-radius: 24px;
}

.features-section .feature-card h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    color: var(--dark-color);
}

.features-section .feature-card .info {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: -10px;
}

.features-section .wrapper {
    position: relative;
}

.features-section .wrapper .btn {
    position: absolute;
    right: 0;
    margin-right: -30px;
}

/* Social section */
.social-section {
    text-align: center;
    background: var(--light-color);
    padding: 100px;
}

.social-section .social-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

.social-section .social-buttons a{
    text-decoration: none;

}

.social-section .social-btn {
    padding: 16px 30px;
    background: var(--dark-color);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 270px;
    border-radius: 20px;
    padding: 20px 0px;
    justify-content: center;
}

.social-section .social-btn img {
    height: 50px;
    width: 50px;
}

.social-section .social-btn span {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #ffffff;
}
