/* 
    Created on : 24 Jun 2024, 11:57:21 pm
    Author     : Pojie
*/
:root {
    --dark-color: #071920;
    --slight-dark-color: #E6E8E8;
    --light-color: #E8F7FB;
    --slight-light-color: #b9c5c8;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background:url("images/background1.jpg");
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.btn.light {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 10px 15px;
}
.btn.light:hover{
    background-color: var(--slight-dark-color);
    color: var(--dark-color);
}

.btn.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px 15px;
    width: 120px;
}

.btn.dark:hover{
    background-color: var(--slight-dark-color);
    color: var(--dark-color);
}

/* Header */
header {
    width: 100%;
    height: fit-content;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 30px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--light-color);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 21px;
    text-align: center;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: var(--light-color);
    text-decoration: none;
    text-align: center;
}

/*nav scrolled*/
nav.scrolled {
    background: var(--dark-color);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 10px;
}

/*about us container*/
.form-section {
    padding-top: 170px;
    padding-bottom: 120px;
    height: fit-content;
    width: 100%;
}

.form-section .form-card {
    background: #fff;
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 50px;
    width: fit-content;
}

.form-section .form-card .prompt {
    width: fit-content;
    line-height: 10px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    border-radius: 23px;
    padding: 1px 32px;
    background: var(--dark-color);
    position: relative;
    top: -28px;
}

.form-section .form-card p {
    width: fit-content;
    line-height: 20px;
    text-align: justify;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: #ffffff;
    border-radius: 23px;
    padding: 0 32px 0px 32px;
    color: var(--dark-color);
    margin: 0 10px 0 0;
}

.acknowledgemanet{
    margin-top: 20px;
}

/*Terms and Condition/ Privacy Policy*/
.section h2{
    font-family: "Poppins", sans-serif;
    color: var(--dark-color);
    margin-left: 30px;
}

.section h3{
    font-family: "Poppins", sans-serif;
    color: var(--dark-color);
    margin-left: 35px;
}

.section ul li{
    font-family: "Poppins", sans-serif;
    color: var(--dark-color);
    margin-left: 30px;
    margin-right: 100px;
}

/*forget password*/
.reset-form{
    background: #fff;
    border-radius: 24px;
    height: fit-content;
    padding-bottom: 20px;
    margin-left: 500px;
    margin-top: 10px;
    width: fit-content;
}

.reset-form .prompt{
    width: fit-content;
    line-height: 10px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    border-radius: 23px;
    padding: 1px 32px;
    background: var(--dark-color);
    position: relative;
    top: -28px;
}

.reset-form input{
    background: #d3d3d3;
    font-weight: normal;
    font-size: 16px;
    height: fit-content;
    border-radius: 8px;
    padding: 8px 32px;
    margin:0 19.59px;
    margin-bottom: 11.07px;
    border: none;
    width: 402.89px;
    color: #000000;
    text-align: center;
}

.btn-reset{
    color: var(--light-color);
    background-color: var(--dark-color);
    text-decoration: none;
    border-radius: 24px;
    padding: 8px 20px;
    font-family: "Raleway", sans-serif;
    margin-left: 18px;
    display: inline-block;
    width: 405px;
    text-align: center;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-reset:hover{
    color: var(--dark-color);
    background-color: var(--slight-dark-color);
}

.message{
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--dark-color);
}

.message a{
    color: var(--dark-color);
    text-align: center;
    padding-left: 125px;
    font-family: "Poppins", sans-serif;
}




